<h1>Héroes Encontrados <small>con el termino : {{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroesEncontrados.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino: {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns">
<app-heroe-tarjeta
            class="card animated fadeIn fade fast"
            [heroe]='heroe'
            [indice]='i'
            *ngFor="let heroe of heroesEncontrados; let i = index">
</app-heroe-tarjeta>
</div>
<!--

  <div class="card animated fadeIn fade fast" *ngFor="let heroe of heroesEncontrados; let i = index">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title"> {{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
-->
      <!--Boton-->
<!--      <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block"> Ver más ..</button>-->
      <!--Cambiar de página o de componente con un href-->
      <!--<a [routerLink]= " ['/heroe', i] "  class="btn btn-outline-primary"> Ver más link... </a>-->
    <!--
    </div>
  </div>
</div>
-->
